@media (min-width: 615px) {
  ytmusic-player-bar {
    display: flex !important;
    align-items: center !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  #top-player-bar {
    display: none !important;
  }

  .middle-controls,
  #right-controls {
    flex: 1 1 0 !important;
  }

  .middle-controls {
    display: flex !important;
    order: 1 !important;
    justify-content: flex-start !important;
  }

  #left-controls {
    display: flex !important;
    order: 2 !important;
    padding-left: 1rem !important;
    justify-content: center !important;
    max-width: 400px !important;
    flex: 0 0 auto !important;
  }

  #right-controls {
    display: flex !important;
    order: 3 !important;
    justify-content: flex-end !important;
  }

  .time-info {
    font-size: 1.5rem !important;
  }
}
